/**
* CSS DU SITE INTERNET BLOG
*/

body, html{
    min-height: 100%;
    padding-top: 50px;
}

.avatar-md{
    border-radius: 25%;
    height: 100px;
    width: 100px;
  }
  
  .avatar-xs{
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }
  
.img-subtitle{    
    max-width: 60%;
    max-height: 60%;
}


/*style for tiles listPost */
#tiles{
    min-height: 30rem;
    border-radius: 0.5em;
    border: 1px silver groove;
    box-shadow: none;  
}

/*style of the tiles home */
.card{
    box-shadow:  5px 5px 5px 0px rgba(0,0,0,0.3);
}

/*comment style*/
.comment {
    margin-top: 3em;
}

/*style for the footer*/
.footer {
display: flex!important;
justify-content: flex-end!important;
align-self: flex-end;
}

.list-group-item {
    background-color: transparent!important;
}

